

.carrito {
  z-index: 0;
  display: none;
  position: absolute;
  top: 9rem;
  left: 5%;
  width: 90%;
  background-color: var(--secundario);
  border-radius: 1rem;
  border: .8px solid #818181;
}
/* Reutilizado */

.carrito h2 {
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem;

}
.carrito-open{
  z-index: 1;
  display: inline;
}
.carrito-titulo {
  color: #000;
  border-bottom: 1px solid #ffffff;
}
.titulo-desc{
  color: #000;
}
.prod-in-cart {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.prod-in-cart img {
  height: 6rem;
}

.detalles {
  display: flex;
  padding:1rem 0 ;
  flex-direction: column;
  font-family: Arial,
    Helvetica,
    sans-serif;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.6rem;
  color: #fff;
}

.cantidad {
  color: #000;
  font-weight: 700;
}

#buton-delete {
  display: inline;
  height: 2rem;
}
.total{
  color: #000;
}
.boton-calc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}
.boton-calc a{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  padding:1rem 2rem;
}
