
  <app-nav (banderaCambiada)="BanderaCambiada($event)"></app-nav>

<!-- CARRITO  -->
<div class="carrito" [ngClass]="{'carrito-open':estadoBandera}">
  <div class="carrito-titulo">
    <h2>Carrito</h2>
  </div>
  <h2  *ngIf="!productos[0]">VACIO</h2>
  <!-- NOSE XQ FUNCIONA -->
  <div *ngFor="let prod of productos; index as a"  class="prod-in-cart">
    <div class="container-imagen-cart">
      <img src="{{ruta+prod.img}}" alt="remera {{prod.nombre}}">
    </div>
    <div class="detalles">
      <h3 class="titulo-desc">{{prod.nombre}}</h3>
      <!-- <div class="precio-total"> -->

        <span class="precio-cart">Precio: ${{prod.precio}}</span>
        <span class="cantidad">Cantidad: {{prod.cantidad}}</span>
      <!-- </div> -->
    </div>
    <a (click)="eliminar(a)"><img id="buton-delete" src="../../assets/icon-delete.svg" alt=""></a>
  </div>

</div>

