<footer class="footer">
  <div class="contacto">
    <span>Contacto: </span>
    <a href="#"><img src="../../assets/brand-instagram.png" alt="Instagram"></a>
    <a href="#"><img src="../../assets/brand-facebook.png" alt=""></a>
    <a href="#"><img src="../../assets/brand-twitter-filled.png" alt="Twitter"></a>
    <a routerLink="/contacto"><img src="../../assets/address-book.png" alt="Formulario"></a>

  </div>
  <p class="footer__texto">Fron End Store-Todos los derechos reservador</p>
</footer>
