<h1 class="titulo">Contacto</h1>
<form (ngSubmit)="a()" class="formulario contenedor">

    <label class="label" for="nombre">Nombre</label>
    <input [(ngModel)]="clienteContacto.nombre" name="nombre"  type="text" id="nombre" #nom="ngModel" >
    <span class="alerta" [hidden]="nom.valid || nom.pristine">El nombre es obligatorio</span>

    <label class="label"  for="email">E-Mail</label>
    <input [(ngModel)]="clienteContacto.email" name="email" type="email" id="email" placeholder="Tu email" #mail="ngModel" required>
    <span class="alerta" [hidden]="mail.valid || mail.pristine">EL mail es obligatorio</span>

    <label class="label"  for="telefono">Telefono</label>
    <input [(ngModel)]="clienteContacto.tel" name="telefono" type="tel" id="telefono" placeholder="Tu telefono" #tel="ngModel" required>
    <span class="alerta" [hidden]="tel.valid || tel.pristine">El telefono es obligatorio</span>
    <h1 style="color: #000;">
        {{tel.valid}}
    </h1>
    <label class="label"  for="mensaje">Mensaje</label>
    <textarea [(ngModel)]="clienteContacto.mensaje"  type="text" id="mensaje" placeholder="Tu mensaje" #msj="ngModel" required></textarea>
    <span class="alerta" [hidden]="msj.valid || msj.pristine">El telefono es obligatorio</span>

    <label  class="label op">Como desea ser contactado</label>
    <div class="forma-contacto">
      <label class="fc" for="contactar-telefono">Telefono</label>
      <input type="radio" (click)="telefono()" name="contacto" value="telefono" id="contactar-telefono">

      <label class="fc" for="contactar-email">E-mail</label>
      <input type="radio" (click)="email()" name="contacto" value="email" id="contactar-email">
    </div>
    <div *ngIf="open">

      <label class="fc label" for="fecha">Fecha</label>
      <input type="date" id="fecha">

      <label class="fc label" for="hora">Hora</label>
      <input type="time" id="hora" min="09:00" max="18:00">
    </div>
    <!-- <p>Si eligio telefono, elija la fecha y la hora</p> -->


  <input type="submit" value="Enviar" class="boton-verde" [disabled]="tel.invalid || msj.invalid || nom.invalid || mail.invalid">
</form>
