
<h1 class="titulo">{{producto.nombre}}</h1>

<div class="camisa contenedor">
  <img class="camisa__imagen" src="{{ruta+producto.img}}" alt="imagen del producto">
  <div class="camisa__contenido">
    <div class="precio-container">
      <span class="camisa__precio">${{producto.precio}}</span>
    </div>
    <p>
      {{producto.descripcion}}
    </p>
    <form class="formulario">
      <select [(ngModel)]="opcionSeleccionada" name="talle" class="formulario__campo">
        <option disabled selected>--Seleccionar talla--</option>
        <option value="chica">Chica</option>
        <option  value="mediana" >Mediana</option>
        <option value="grande" >Grande</option>
      </select>
      <input class="formulario__campo" name="Cantidad" type="number" [(ngModel)]="cant" placeholder="Cantidad" min="1">
      <a class="formulario__submit" type="submit" value="Agregar Al Carrito" (click)="agregarAlCarrito()">Agregar Al Carrito</a>
    </form>
  </div>
</div>
