
<h1 class="titulo">{{producto.nombre}}</h1>

<div class="camisa contenedor">
  <img class="camisa__imagen" src="{{ruta+producto.img}}" alt="imagen del producto">
  <div class="camisa__contenido">
    <div class="precio-container">
      <span class="camisa__precio">${{producto.precio}}</span>
    </div>
    <p>
      {{producto.descripcion}}
    </p>
    <form class="formulario" (ngSubmit)="agregarAlCarrito()">
      <select [(ngModel)]="opcionSeleccionada" name="talle" class="formulario__campo" #opcion="ngModel" required>
        <option disabled selected>--Seleccionar talla--</option>
        <option value="chica">Chica</option>
        <option  value="mediana" >Mediana</option>
        <option value="grande" >Grande</option>
      </select>
      <span class="alerta" [hidden]="opcion.valid || cantidad.pristine">La talla es obligatoria</span>
      <input class="formulario__campo" #cantidad="ngModel" name="Cantidad" type="number" [(ngModel)]="cant" placeholder="Cantidad" min="1" required="">
      <span class="alerta" [hidden]="cantidad.valid || cantidad.pristine">La cantidad es obligatoria</span>
      <input class="formulario__submit" type="submit" value="Agregar Al Carrito" [disabled]="cantidad.invalid || opcion.invalid">
    </form>
  </div>
</div>
