
<h1>{{producto.nombre}}</h1>

<div class="camisa">
  <img class="camisa__imagen" src="{{ruta+producto.img}}" alt="imagen del producto">
  <div class="camisa__contenido">
    <p>
      {{producto.descripcion}}
    </p>
    <form class="formulario">
      <select class="formulario__campo">
        <option disabled selected>--Seleccionar talla--</option>
        <option>Chica</option>
        <option>Mediana</option>
        <option>Grande</option>
      </select>
      <input class="formulario__campo" type="number" placeholder="Cantidad" min="1">
      <input class="formulario__submit" type="submit" value="Agregar Al Carrito">
    </form>
  </div>
</div>
