

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

@media (width>=370px){
  .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

    }
}
@media (width>= 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

