
<h1>Nosotros</h1>
<div class="nosotros">
  <div class="nosotros__contenido">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan elit ut metus viverra,
      eget
      sodales felis
      porta. Maecenas ultrices a turpis quis semper. Nunc hendrerit feugiat sem. Maecenas mattis aliquet
      ante,
      at tempor augue
      efficitur vel. Fusce posuere risus vitae ante sollicitudin eleifend. Maecenas dui purus, rhoncus sit
      amet erat eget,
      fermentum iaculis sapien. Vivamus sit amet ligula justo. Curabitur eu ex a eros posuere ornare id
      sed
      est. Integer at
      vulputate quam. Aliquam ut tempus mauris. Integer felis diam, volutpat sed quam sed, lacinia
      convallis
    </p>
  </div>
  <img class="nosotros__imagen" src="../../assets/nosotros.jpg" alt="nosotros">
</div>
<section class="contenedor comprar">
  <h2 class="comprar__titulo">Por qué comprar con nosotros?</h2>
  <div class="bloques">
    <div class="bloque">
      <img class="bloque__imagen" src=" ../../assets/icono_1.png" alt="porque comprar">
      <h3 class="bloque__titulo">El Mejor Precio</h3>
      <p>vulputate quam. Aliquam ut tempus mauris. Integer felis diam, volutpat sed quam sed, lacinia
        convallis</p>
    </div> <!-- .bloque -->
    <div class="bloque">
      <img class="bloque__imagen" src=" ../../assets/icono_2.png" alt="porque comprar">
      <h3 class="bloque__titulo">Para Devs</h3>
      <p>vulputate quam. Aliquam ut tempus mauris. Integer felis diam, volutpat sed quam sed, lacinia
        convallis</p>
    </div> <!-- .bloque -->
    <div class="bloque">
      <img class="bloque__imagen" src=" ../../assets/icono_3.png" alt="porque comprar">
      <h3 class="bloque__titulo">Envio Gratis</h3>
      <p>vulputate quam. Aliquam ut tempus mauris. Integer felis diam, volutpat sed quam sed, lacinia
        convallis</p>
    </div> <!-- .bloque -->
    <div class="bloque">
      <img class="bloque__imagen" src=" ../../assets/icono_4.png" alt="porque comprar">
      <h3 class="bloque__titulo">La mejor calidad</h3>
      <p>vulputate quam. Aliquam ut tempus mauris. Integer felis diam, volutpat sed quam sed, lacinia
        convallis</p>
    </div> <!-- .bloque -->
  </div> <!-- .bloques -->
</section>
