.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}


.producto__nombre {
  font-size: 2.5rem;
}

.producto__precio {
  font-size: 1.3rem;
}

.producto__precio,
.producto__nombre {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
