/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --primario: #312851;
  --primarioOscuro: #443C68;
  --secundario: #393053;
  --secundarioOscuro: #18122B;
  --blanco: #F4EEE0;
  --fuentePrincipal: 'Staatliches', cursive;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--primario);
  line-height: 1.5rem;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
h1 {
  margin: 2rem 0;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}



.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.titulo {
  margin: 2rem 0;
  font-size: 2rem;
  color: #F4EEE0;
}

@media (width>310px) {
  .titulo{
    font-size: 3rem;
    margin: 3rem;
  }
}
@media (width>450px) {
  .titulo {
    font-size: 4rem;
    margin: 4rem;
  }
}
